body {
    text-align: left;
    font-size: 62.5%;
    background-color: #9bf799;
}
h1 {
    font-size: 3.2rem;
    margin: 0;
    text-align: center;
    text-decoration: underline;
}
p {
    font-size: 1.4rem;
}
.app {
    font-family: 'Roboto', sans-serif;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    background-color: #D4F8D4;
}
.form {
    text-align: center;
    font-size: 1.4rem;
}